.autocomplete {
    /* the container must be positioned relative */
    position: relative;
    // display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #BFC1C3;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* position the autocomplete items to be the same width as the container */
    width: 90%;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #BFC1C3;
}
.autocomplete-items div:hover {
    /* when hovering an item */
    background-color: #F8F8F8;
}
.autocomplete-active {
    /* when navigating through the items using the arrow keys */
    background-color: #F8F8F8 !important;
}
