{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="Sign in">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
    .link-back{
        position: absolute;
        
    }
	.form-control {
    width: 90%;}
</style>

<main id="content" role="main">

    <div class="grid-row">

        <a href="ehicwith" class="link-back">Back</a>
		<br>
		<br>				
			<div class="column-one-third det-width">
                <div class="grid-row highlight">
                    <h1 class="heading-medium">Applicant's contact details</h1>
                    <div class="column-one-half lpads">
                        <h2 class="heading-small">First name</h2>
                        <p class="change-spacep">John</p>
                        <br>
                        <h2 class="heading-small">Last name</h2>
                        <p class="change-spacep">Smithe</p>
						<br>
                        <h2 class="heading-small">Date of birth</h2>
                        <p class="change-spacep">20/03/1967</p>
						<br>
                         <h2 class="heading-small">Address</h2>
                        <p class="change-spacep">5 Church Street, Newcastle, NE12 34AB</p>
                        
                    </div>
                    <div class="column-one-half">
                 
                        <h2 class="heading-small">Email</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
                        <p class="change-spacea"><a href="#">Add</a></p>
                        <h2 class="heading-small">Tel</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
                        <p class="change-spacea"><a href="#">Add</a></p>
                    </div>
                </div>
            </div>
			
				<!--  Contact details -->		
					
				<h1 class="heading-medium">Applicant's contact details</h1>
				
					
					<div class="form-group">
						<h2 class="heading-small">Telephone number</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
	
					</div>
					
					<div class="form-group">
					  <fieldset>

						<legend>
						  <h1 class="heading-medium" style="margin-top:0;">
							Would you like a confirmation email?
						  </h1>
						</legend>
						
						<div class="notice">
							<i class="icon icon-information"></i>
							<strong>We will send you a confirmation email once the PRC is delivered to the treatment facility.</strong>
							<br>
						</div>
						
						<div class="multiple-choice" data-target="contact-by-text">
							<input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
							<label for="example-contact-by-text">Yes</label>
						</div>
						<div class="panel panel-border-narrow js-hidden" id="contact-by-text">
							    <h2 class="heading-small">Email</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
								<p class="change-spacea"><a href="#">Add</a></p>
						</div>
							
						<div class="multiple-choice">
							<input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
							<label for="example-contact-by-text">No</label>
						</div>
				
					  </fieldset>
					</div>
				
			</div>		
		</div>
		<!--  PRC time span -->
		
		<div class="column-one-half">

				<h2 class="heading-large">PRC details</h2>	
		
					<h2 class="heading-small">Starting date</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">

					<h2 class="heading-small">Ending date</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">
                   
					<h2 class="heading-small">Country of the treatment</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">
                   
					<h2 class="heading-small">Treatment facility name</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text">
			
					
			
				<div class="form-group">
				  <fieldset>
					<legend>
					  <h1 class="heading-medium" style="margin-top:0;">
						How do you want the PRC to be sent across to the treatment facility?
					  </h1>
					</legend>
					<div class="multiple-choice" data-target="contact-by-email">
					  <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
					  <label for="example-contact-by-email">Email</label>
					</div>
					<div class="panel panel-border-narrow js-hidden" id="contact-by-email">
					  <label class="form-label" for="contact-email">Email address</label>
					  <input class="form-control" name="contact-email" type="text" id="contact-email">
					</div>
					<div class="multiple-choice" data-target="contact-by-phone">
					  <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
					  <label for="example-contact-by-phone">Fax</label>
					</div>
					<div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
					  <label class="form-label" for="contact-phone">Fax number</label>
					  <input class="form-control" name="contact-phone" type="text" id="contact-phone">
					</div>
				  </fieldset>
				     <br>
					 <a class="button" href="done" role="button" style=" font-size: 19px;">Generate PRC</a>
				</div> 
        </div>
	


			
	</div>		
</main>
			
{% endblock %}


