{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 20px;
}
.form-control {
    width: 90%;
}	
</style>

<main id="content" role="main">

    <div class="grid-row">

        <a href="personsearchlist" class="link-back">Back</a>
		<br>
		<br>
		<div class="column-full">
			<div class="column-one-half lpads ">
				<div style="padding: 0 2em 0 1em">
					<div class="grid-row highlight">
						<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Applicant's contact details</h1>
						
							<div class="column-one-third lpads">	
							<h2 class="heading-small">First name</h2>
							<p class="change-spacep"> John</p>
							<br>									
							</div>
							
							<div class="column-one-third">	
							<h2 class="heading-small"> Last name</h2>
							<p class="change-spacep"> Smithe</p>
							<br>									
							</div>
							
							<div class="column-one-third">	
							<h2 class="heading-small">Date of birth</h2>
							<p class="change-spacep"> 20/03/1967</p>
							<br>									
							</div>
							
								<div class="column-one-third lpads">	
							<h2 class="heading-small">Address</h2>
							<p class="change-spacep"> 5 Church Street, Newcastle, NE12 34AB</p>
							<br>									
							</div>
							
							<div class="column-one-third">	
							<h2 class="heading-small"> Email</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
							<br>									
							</div>
							
							<div class="column-one-third">	
							<h2 class="heading-small">Telephone number</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
							<br>									
							</div>
							
							<br>

						<!-- Dependent details-->
						<div class="column-full lpads">
							<h2 class="heading-medium">Dependent details</h2>	
							<div class="column-one-third lpads">	
							<h2 class="heading-small">First name</h2>
							<p class="change-spacep"> Helen</p>
							<br>									
							</div>
							<div class="column-one-third">
								<h2 class="heading-small">Last name</h2>
								<p class="change-spacep">Smithe</p>
								<br>
							</div>
							<div class="column-one-third">
								<h2 class="heading-small">Date of birth</h2>
								<p class="change-spacep">13/06/2010</p>
								<br>
								<br>
							</div>
						
						</div>
					</div>
				</div>
			</div>
				
		
		
		<!--  PRC time span -->
		
            <div class="column-one-half">
			<div style="padding: 0 2em 0 2em">
                <div class="grid-row highlight">
					<div class="column-one-half">
					<h2 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">PRC details</h2>	
		
					<h2 class="heading-small">Starting date</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">

					<h2 class="heading-small">Ending date</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">
                   
					<h2 class="heading-small">Country of the treatment</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text">
					<br>
					<br><a class="button" href="done" role="button" style=" font-size: 19px;">Generate PRC</a>
					
					</div>
					<div class="column-one-half">
					<h2 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Treatment facility details</h2>
					
					<h2 class="heading-small">Treatment facility name</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text">
					
					<h2 class="heading-small">Email address</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text">
					
					<h2 class="heading-small">Fax number</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text">
					
					</div>
					<br>
                    
                </div>
			
            </div>
</div>	


	
			
	</div>		
</main>
			
{% endblock %}


