{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.done-panel{
    padding: 40px;
	margin: 10px 0px;
}  
.heading-medium{
margin-top: 0.8em;
}  
.column-half{
padding: 0 0 0 0;}
</style>

<main id="content" role="main">


    <div class="grid-row">
       
		<div class="column-two-thirds">
            <div class="done-panel">
                <h1 class="heading-xlarge"><span id="done-tick"></span>Done</h1>
                <h2 class="heading-large"><span class="heading-secondary" style="color:white">Reference number</span> K5G-V78</h2>
            </div>
			<h2 class="heading-medium">What happens next</h2>
			 <p>We have send out the PRC file to the treatment facility using the details provided. If you provided your personal email address, a confirmation email should be available with you in the following minutes.</p>
			<div class="column-half rpads">
				<p>Email: <a href="#">hospital@infantaleonor.com</a></p>
				<a class="button" href="homepage" role="button" style=" background-color: #005EB8;">Preview PDF</a>
				<br><br>
				<a class="button" href="homepage" role="button">Back to start</a>
			</div>
			<div class="column-half">
				<p class="change-spacea"><a href="#">Change</a></p>
			</div>
			
            
           
			
        </div>
   
    </div>
</main>

{% endblock %}
