{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}
<div id="menu">
    <div id="menu-content">
        <div class="grid-row">
            <div class="column-half">
                <ul class="visually-hidden">
                    <li><a class="menu-button selected" href="results">Search</a></li>
                </ul>
            </div>
            <div class="column-half" id="logout">
                <a href="login">Sign out</a>
            </div>
        </div>
    </div>
</div>

<main id="content" role="main">

    <div class="grid-row">
      
            <a href="ehicwith.html" class="link-back">Back</a>
            <h2 class="heading-large">You do not require a PRC</h2>
            
            <p>
                You do not need a PRC as they are only required when you do not have your EHIC card with you.
            </p>

            <div></div>
            <a class="button" href="processdecision.html" role="button">Back to start</a>

       
    </div>
</main>
{% endblock %}
