{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %}
<div id="menu">
    <div id="menu-content">
        <div class="grid-row">
            <div class="column-half">
                <ul class="visually-hidden">
                    <li><a class="menu-button selected" href="results">Search</a></li>
                </ul>
            </div>
            <div class="column-half" id="logout">
                <a href="login">Log out</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block content %}

<style>
    .highlight {
        min-height: 40%;
    }

    .link-back {
        position: absolute;

    }

</style>


<main id="content" role="main">

    <div class="grid-row">

        <a href="homepage" class="link-back">Back</a>
        <div class="column-one-half">
            <br>
            <br>
            <div class="grid-row highlight 1">
                <br>
                <h2 class="heading-large">Does the patient have access to their EHIC?</h2>


                <form action="ehic-handler" method="get" class="form">
                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="visually-hidden">Does the patient have access to their EHIC?</legend>
                            <div class="multiple-choice">
                                <input id="yes" type="radio" name="ehic" value="yes">
                                <label for="yes">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="no" type="radio" name="ehic" value="no">
                                <label for="no">No</label>
                            </div>
                        </fieldset>
                    </div>
                <div>
                    <a href="personsearch.html"><input class="button" type="submit" value="Next"></a>
                </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
