{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<style>
.link-back{
    position: absolute;    
}
.heading-medium{
    padding-left: 30px;    
}
</style>
<main id="content" role="main">

  <div class="grid-row">
    
      <h2 class="heading-medium">Home Page</h2>
    
	
<a href="personsearch">
<div class="column-full">
    <div class="column-one-third">
        <div class="grid-row highlight1">
         <br>
		 <br>
		 <br>
		 <br>
        <center><h2 style="vertical-align:middle" class="heading-medium">PRC</h2></center>
		
		</div>
            
    </div>
</a>      

    <div class="column-one-third">
        <div class="grid-row highlight1">
         <br>
		 <br>
		 <br>
		 <br>
        <center><h2 style="vertical-align:middle" class="heading-medium">EHIC</h2></center>
	
		</div>
            
    </div>
       

    <div class="column-one-third">
        <div class="grid-row highlight1">
         <br>
		 <br>
		 <br>
		 <br>
        <center><h2 style="vertical-align:middle" class="heading-medium">S1</h2></center>
	
		</div>
            
    </div>
      
</div> 
        
    
</main>

{% endblock %}
