{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}
<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 20px;        
}
.form-control {
    width: 60%;
}
.link-back{
    margin-left: 30px;
}
</style>


<main id="content" role="main">

    <div class="grid-row">

        <a href="accesstoehic.html" class="link-back">Back</a>
		<br><br>
                <div class="column-one-third">
            <div class="grid-row highlight">
			
				<h2 class="heading-large">Hospital Details</h2>
        <div class="form-group">
            <label class="form-label" for="time-span">Name of Hospital</label>
            <input class="form-control" id="start-date" name="start-date" type="Start Date">
        </div>
        <form>


            <fieldset>

                <label class="form-label" for="time-span">Contact details</label>


                <div class="multiple-choice" data-target="contact-by-email">
                    <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                    <label for="example-contact-by-email">Email</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                    <label class="form-label" for="contact-email">Email address</label>
                    <input class="form-control" name="contact-email" type="text" id="contact-email">
                </div>

                <div class="multiple-choice" data-target="contact-by-phone">
                    <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                    <label for="example-contact-by-phone">Fax</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                    <label class="form-label" for="contact-phone">Fax</label>
                    <input class="form-control" name="contact-phone" type="text" id="contact-phone">
                </div>

            </fieldset>
        </form>
					</div>
               
</div>
      
        <div class="column-two-thirds">
            <div class="grid-row highlight 1">


                <table>
                                <h2 class="heading-large">PRC Time span</h2>
            <fieldset>
                        <!--     <legend class="form-label-bold">Date of birth</legend> -->
                        <!-- <p>We only use this to check if your age entitles you to any help.</p> -->
                        

                        <div class="form-date">
                            <h1> Treatment start date</h1>
                            <br>
                            <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0" max="2016">
                            </div>
                        </div>
                    </fieldset>
                <br>
            <fieldset>
                        <!--     <legend class="form-label-bold">Date of birth</legend> -->
                        <!-- <p>We only use this to check if your age entitles you to any help.</p> -->
                        

                        <div class="form-date">
                            <h1> Treatment end date</h1>
                            <br>
                            <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0" max="2016">
                            </div>
                        </div>
                    </fieldset>
                <br> 
            <a class="button" href="done.html" role="button">Next</a>
        </div>
    </div>
    </div>
</main>
{% endblock %}






