{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    position: absolute;
}
.form-control {
    width: 90%;
}
.link-back{
    position: absolute;    
}
</style>

<main id="content" role="main">

    <div class="grid-row">

        <a href="homepage" class="link-back">Back</a>
		<br>
		<br>		
        <div class="column-one-third">
		    <div class="column-full rpads">
                <div class="container rpads">
                    <ul class="tabs rpads">
                        <a href="personsearch"><li class="tab-link current" data-tab="tab-3">Applicant Search</li></a>
                        <a href="personsearchrenew"><li class="tab-link" data-tab="tab-4">PRC renew</li></a>
                    </ul>        
					
					<h2 class="heading-medium">Applicant search </h2>
					<div class="applicant-search">
						
						
						<h2 class="heading-small">First name (initial)</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
						
						<h2 class="heading-small">Last name</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
						
						<h2 class="heading-small">Date of birth</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">

						<h2 class="heading-small">National Insurance number</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">						
						<br>
						<br>	
						<a class="button" href="personsearchlist" role="button" style=" font-size: 19px;">Search</a>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</main>
{% endblock %}
