{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="Sign in">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
    .link-back{
        position: absolute;
        
    }
	.form-control {
    width: 90%;}
</style>

<main id="content" role="main">

  
  

        <a href="personsearchlist" class="link-back">Back</a>
		<br>
		<br>		
		<!-- S1 not registered CASE-->
		 
			<div class="column-full rpads">
				<div class="container rpads">
					<ul class="tabs rpads sort-results">
						<li class="tab-link current" data-tab="tab-3">Applicant summary</li>
						<li class="tab-link" data-tab="tab-4">Dependent summary (1)</li>
					</ul>


					<div id="tab-3" class="tab-content current">
						
						<h1 class="heading-medium">Applicant summary</h1>
						
						<table>	
										<thead>
											<tr>
												<th scope="col" style="font-size: 14px;">Name</th>
												<th scope="col" style="font-size: 14px;">Date of birth</th>
												<th scope="col" style="font-size: 14px;">NINO</th>
												<th scope="col" style="font-size: 14px;">Address</th>
												<th scope="col" style="font-size: 14px;">EHIC</th>
												<th scope="col" style="font-size: 14px;">S1 country</th>
												<th scope="col" style="font-size: 14px;">S1 status</th>
											</tr>
										</thead>
										
										<tbody>
											<tr>
												<th scope="row" style="font-size: 14px; font-weight: 300;">Jon Smith</th>
												<th style="font-size: 14px; font-weight: 300;">03/11/1996</th>
												<th style="font-size: 14px; font-weight: 300;">HT 56 78 81 D</th>
												<th style="font-size: 14px; font-weight: 300;">1 Church Street, <br>Newcastle,<br> NE12 3AB</th>
												<th style="font-size: 14px; font-weight: 300;">No</th>
												<th style="font-size: 14px; font-weight: 300;">France</th>
												<th style="font-size: 14px; font-weight: 300;">Registered 29/02/2016</th>
											</tr>
									 </tbody>
								</table>
						
					</div>
				
					<div id="tab-4" class="tab-content">
							
						<h1 class="heading-medium">Dependent summary</h1>
						
						<table>	
										<thead>
											<tr>
												<th scope="col" style="font-size: 14px;">Name</th>
												<th scope="col" style="font-size: 14px;">Date of birth</th>
												<th scope="col" style="font-size: 14px;">NINO</th>
												<th scope="col" style="font-size: 14px;">          </th>
												<th scope="col" style="font-size: 14px;"></th>
												<th scope="col" style="font-size: 14px;"></th>
												<th scope="col" style="font-size: 14px;"></th>
											</tr>
										</thead>
										
										<tbody>
											<tr>
												<th scope="row" style="font-size: 14px; font-weight: 300;">Michael Smith</th>
												<th style="font-size: 14px; font-weight: 300;">22/06/2012</th>
												<th style="font-size: 14px; font-weight: 300;">SR 12 34 56 A</th>
												<th style="font-size: 14px; font-weight: 300;"></th>
												<th style="font-size: 14px; font-weight: 300;"></th>
												<th style="font-size: 14px; font-weight: 300;"></th>
												<th style="font-size: 14px; font-weight: 300;"> </th>
											</tr>
										</tbody>
										
								</table>	
				
		
					</div>
						<br>	
					
					
					<div id="menu">
						<div id="menu-content">
						  <div class="grid-row">
							<div class="column-half">
							  <ul>
								<li>
									<a class="button" href="contactdetails" style="background-color: #005EB8;" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">Bypass residency check</a>
								</li>
								<li>
									<a class="button" style="background-color: #005EB8;" href="homepage">Finish process</a>
								</li>
								<li>
									<a class="button" style="background-color: #005EB8;" href="contactdetails">Continue process</a>
								</li>
							  </ul>
							</div>
						  </div>
						</div>
					</div>
	
	
		  
		<!--	<div class="column-full rpads">
				<div class="container rpads">
					<div class="column-full">
						<div class="column-one-third ">
						<a class="button" href="contactdetails" style="font-size: 19px; background-color: #005EB8;" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">Bypass residency check</a>
						</div>
						
						<div class="column-one-third">
						<a class="button" href="homepage" style="font-size: 19px; background-color: #005EB8;">Finish process</a>
						</div>
						
						<div class="column-one-third ">
						<a class="button" href="contactdetails" style="font-size: 19px; background-color: #005EB8;">Continue process</a>
						</div>
					</div>	
				</div>
			
			</div> -->
		</div>
	</div>
</div>
				    
</main>
			
{% endblock %}


