{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    position: absolute;     
}
.form-control {
    width: 90%;
}
</style>

<main id="content" role="main">

  
  

        <a href="personsearchlist" class="link-back">Back</a>
		<br>
		<br>		
		<!-- S1 not registered CASE-->
		<div class="column-one-half">  
			<div class="column-full rpads">
				<div class="container rpads">
					<ul class="tabs rpads sort-results">
						<li class="tab-link current" data-tab="tab-3">Applicant summary</li>
						<li class="tab-link" data-tab="tab-4">Dependent summary (2)</li>
					</ul>


					<div id="tab-3" class="tab-content current">
						
						<h1 class="heading-medium">Applicant summary</h1>
						<div class="column-one-third lpads">
							<!-- First dependent s1 not registered-->
							<h2 class="heading-small">First name</h2>
							<p class="change-spacep">Mike</p>
							<br>
							<h2 class="heading-small">Address</h2>
							<p class="change-spacep">1 Church Street, Newcastle, NE12 3AB</p>
							<p class="change-spacea"><a href="#">Change</a>
							</p>
						
							

						</div>
						<div class="column-one-third">
							<h2 class="heading-small">Last name</h2>
							<p class="change-spacep">Williams</p>
							<br>
							<h2 class="heading-small">S1 country</h2>
							<p class="change-spacep">France</p>
							<br>
							<br>
							
						</div>
						<div class="column-one-third">
							<h2 class="heading-small">Date of birth</h2>
							<p class="change-spacep">03/11/1996</p>
							<br>
							<h2 class="heading-small">S1 status</h2>
							<p class="change-spacep">Registered</p>
							<p class="change-spacep">29/02/2016</p>
							
							
						</div>
						<div class="column-full lpads">
							<br><a class="button" href="treatmentdetails" role="button" style="font-size: 19px; background-color: #005EB8;">Bypass residency check</a>
							<p class="change-spacea"><br><a class="button" href="homepage" style="font-size: 19px; background-color: #00823B;">Finish process</a></p>
						</div>
								
					</div>
				
					<div id="tab-4" class="tab-content">
							
						<h1 class="heading-medium">Dependent summary</h1>
							<div class="column-one-third lpads">
								<!-- First dependent s1 not registered-->
								<h2 class="heading-small">First name</h2>
								<p class="change-spacep">Edward</p>
								<br>
								<br>	
							</div>
							<div class="column-one-third">
								<h2 class="heading-small">Last name</h2>
								<p class="change-spacep">Smith</p>
								<br>
							</div>
							<div class="column-one-third">
								<h2 class="heading-small">Date of birth</h2>
								<p class="change-spacep">24/01/2008</p>
								<br>
								<br>
							</div>
							<div class="column-one-third lpads">
									<!-- First dependent s1 not registered-->
									<h2 class="heading-small">First name</h2>
									<p class="change-spacep"> George</p>
									<br>
									
									
							
							</div>
							<div class="column-one-third">
								<h2 class="heading-small">Last name</h2>
								<p class="change-spacep">Smith</p>
								<br>
							</div>
							<div class="column-one-third">
								<h2 class="heading-small">Date of birth</h2>
								<p class="change-spacep">23/12/2009</p>
								<br>
								<br>
							</div>
							<div class="column-full lpads">
								<br><a class="button" href="treatmentdetails" role="button" style="font-size: 19px; background-color: #005EB8;">Bypass residency check</a>
								<p class="change-spacea"><br><a class="button" href="homepage" style="font-size: 19px; background-color: #00823B;">Finish process</a></p>
						</div>
		
					</div>		
				</div>	
			
			</div>
			
			
		</div>		    
</main>
			
{% endblock %}


