{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Log out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
    .link-back{
        position: absolute;
        
    }
	.form-control {
    width: 90%;}
</style>

<main id="content" role="main">

    <div class="grid-row">

        <a href="ehicwith" class="link-back">Back</a>
		<br>
		<br>		
        <div class="column-one-third">
			<div class="column-full rpads">
				<div class="grid-row highlight">
					<h2 class="heading-large">Applicant(s) summary </h2>			

					<!-- Applicants Summary-->

					<h2 class="heading-small">John Smithe </h2>		
					<h2 class="heading-small">Will Smithe </h2>	
					<h2 class="heading-small">Jack Smithe </h2>				
					
				</div>
			</div>		
		</div>
<!-- Treatment facility section -->
		<div class="column-one-third">
            <div class="grid-row highlight 1">
				<h2 class="heading-large">Treatment facility</h2>	
				<div class="form-group">
					<label class="form-label" for="countrytreatment">Country of the treatment</label>
					<input class="form-control" id="country" name="countrytreatment" type="firstname">
				</div>
				<div class="form-group">
					<label class="form-label" for="hospitalname">Treatment facility name</label>
					<input class="form-control" id="hospitalname" name="hospitalname" type="lastname">
				</div>
				
				
		
				<div class="form-group">
				  <fieldset>

					<legend>
					  <h1 class="heading-medium">
						How do you want the PRC to be send across to the treatment facility?
					  </h1>
					</legend>
					<div class="multiple-choice" data-target="contact-by-email">
					  <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
					  <label for="example-contact-by-email">Email</label>
					</div>
					<div class="panel panel-border-narrow js-hidden" id="contact-by-email">
					  <label class="form-label" for="contact-email">Email address</label>
					  <input class="form-control" name="contact-email" type="text" id="contact-email">
					</div>
					<div class="multiple-choice" data-target="contact-by-phone">
					  <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
					  <label for="example-contact-by-phone">Phone</label>
					</div>
					<div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
					  <label class="form-label" for="contact-phone">Phone number</label>
					  <input class="form-control" name="contact-phone" type="text" id="contact-phone">
					</div>
					
				  </fieldset>
				</div>

                <br>
            </div>
        </div>
   
<!--  PRC time span -->
		
		<div class="column-one-third">
            <div class="grid-row highlight 1">
				<h2 class="heading-large">PRC time span</h2>	
				<div class="form-group">
					<label class="form-label" for="countrytreatment">Starting date</label>
					<input class="form-control" id="country" name="countrytreatment" type="firstname">
				</div>
				<div class="form-group">
					<label class="form-label" for="hospitalname">Ending date</label>
					<input class="form-control" id="hospitalname" name="hospitalname" type="lastname">
				</div>
				
				
		
				<div class="form-group">
				  <fieldset>

					<legend>
					  <h1 class="heading-medium">
						Would you like a confirmation email?
					  </h1>
					</legend>
					
					<div class="notice">
						<i class="icon icon-information"></i>
						<strong>We will send you a confirmation email once the PRC is delivered to the treatment facility.</strong>
						<br>
					</div>
					
					<div class="multiple-choice" data-target="contact-by-text">
						<input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
						<label for="example-contact-by-text">Yes</label>
					</div>
					<div class="panel panel-border-narrow js-hidden" id="contact-by-text">
						<label class="form-label" for="contact-text-message">Email address</label>
						<input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
					</div>
						
					<div class="multiple-choice">
						<input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
						<label for="example-contact-by-text">No</label>
					</div>
			
				  </fieldset>
				</div>

                <br>
                <a class="button" href="done" role="button" style=" font-size: 19px;">Generate PRC</a>
            </div>
        </div>
		
	</div>		
</main>
			
{% endblock %}


