{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half" id="logout">
          <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
<style>
.highlight{
min-height:430px;
}
.makeScrollable{
height:390px;
}
</style>
<main id="content" role="main">
    <div class="grid-row">
		<a href="personsearchlist" class="link-back">Back</a>
		<br>
        <div class="column-full">
                <div class="grid-row highlight">
                    
                    <div class="column-one-half lpads">
                        <h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">123456789</h1>
						<h2 class="heading-small">Full name</h2>
                        <p class="change-spacep">John Smithe</p>
                        <br>
						<h2 class="heading-small">NINO</h2>
                        <p class="change-spacep">SR123456A</p>
                        <br>
                         <h2 class="heading-small">Address</h2>
                        <p class="change-spacep">5 Church Street, Newcastle, NE12 34AB</p>
                        
                    </div>
                    <div class="column-one-half">
					<p class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em; color: red;">✗ Closed</p>
					
                        <h2 class="heading-small">Date of birth</h2>
                        <p class="change-spacep">20/03/1967</p>
						<br>
						<h2 class="heading-small">Email</h2>
                        <p class="change-spacep">-</p>
					
                        <h2 class="heading-small">Telephone number</h2>
                        <p class="change-spacep">07345678910</p>
                    </div>
                </div>
            <div class="column-one-third det-width">
                <div class="grid-row highlight">
                    <h1 class="heading-small">Customer</h1>
                    <div class="column-one-half lpads">
                 
					<h2 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">PRC details</h2>	
		
					<h2 class="heading-small">Starting date</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">

					<h2 class="heading-small">Ending date</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">
                   
					<h2 class="heading-small">Country of the treatment</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">
                   
					<h2 class="heading-small">Treatment facility name</h2>
                    <input class="form-control" id="reference-number" name="first-name-2" type="text">
			
					
                    </div>
                </div>
            </div>
            <div class="column-one-third rpads tab-area">
                <br>
                <div class="column-full rpads">
                    <div class="container rpads">
                        <ul class="tabs rpads">
                            <li class="tab-link current" data-tab="tab-1">Transactions</li>
                            <li class="tab-link" data-tab="tab-2">Notes</li>
                            <li class="tab-link" data-tab="tab-3">Matches</li>
                            <li class="tab-link" data-tab="tab-4">Possible matches</li>
                        </ul>
                        <div id="tab-1" class="tab-content current rpads">
                            <div class="makeScrollable">
                            <table class="internal-table">
                                <thead>  
                                <tr>
                                <th>Date</th>
                                <th>User</th> 
                                <th>Amount</th>
                                <th>Type</th>
                              </tr>
                                    </thead>
                                <tbody>
                              <tr>
                                <td>28/05/2017</td>
                                <td>System</td> 
                                <td>£58.60</td>
                                  <td>Payment request</td>
                              </tr>
                              <tr>
                                <td>28/06/2017</td>
                                <td>System</td> 
                                <td>£51</td>
                                  <td>Surcharge added</td>
                              </tr>
                                </tbody>
                            </table>
                            </div>
                            <p><a href="#">+ Add transaction</a></p>
                        </div>
                        <div id="tab-2" class="tab-content">    
                            <div class="makeScrollable">
                            <table class="internal-table">
                                <thead>
                                  <tr>
                                <th>Date</th>
                                <th>Agent</th> 
                                <th>Comments</th>
                              </tr>
                                </thead>
                                
                                <tbody>
                                    <div>
                              <tr>
                                <td>27/07/2017 13.00</td>
                                <td>Tim</td> 
                                <td>Cust told pay half to avoid surcharge. Cust non compliant, demanded manager. Call escalated</td>
                              </tr>
                            <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                              <tr>
                                <td>27/07/2017 13.00</td>
                                <td>Tim</td> 
                                <td>Cust told pay half to avoid surcharge. Cust non compliant, demanded manager. Call escalated</td>
                              </tr>
                                                            <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                                                                    <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                                                                    <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                        </div>
                                </tbody>
                                    
                            </table>
                            </div>
                            <a href="addNote" onClick="MyWindow=window.open('addNote','MyWindow','width=600,height=450'); return false;">+ Add note</a>
                                
                            <br>
                        </div>
                           
                        </div>
                    </div>
                </div>                                
            </div>
        </div>
    </div>
</main>

{% endblock %}
