{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 
{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}
<style>
.done-panel{
    background-color: #AF1324;
    text-align: center;
    color: white;
    padding: 5px 0;
    margin: 5px 0;
} 
#done-tick{
	background-color: #AF1324;
} 
.heading-medium{
	margin-top: 0.8em;
}  
.heading-large{
    margin-top: 10px;
}
.column-half{
	padding: 0 0 0 0px;
}
p.email-text {
    padding-left: 2em;
    background-image: url(/public/images/bsa/icon_email.png);
    background-repeat: no-repeat;
    background-position: 0px;
}
.attachment .attachment-thumb img {
    display: block;
    width: 99px;
	height: 140px;
    background: white;
    outline: 5px solid rgba(11, 12, 12, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.img-prc {
	height:140px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	outline: 5px solid rgba(11, 12, 12, 0.1);
}
.done-panel h1{
	padding-bottom: 20px;
    padding-top: 20px;
}
</style>
<main id="content" role="main">
    <div class="grid-row">    
		<div class="column-two-thirds">        
            <div class="done-panel">
                <h1 class="heading-xlarge">✗ Not eligible</h1>
            </div>			
			<!--tab 1-->
			<div id="certificate" class="details-block">
				<div class="column-two-thirds" style="padding-left: 0px;">
					<h1 class="heading-medium">Next steps</h1>
					 <div class="callout-box">
					   <p>We cannot issue a PRC because you need to currently reside in the UK. Contact the relevant organisation where you currently live.</p>
					 </div>
				</div>
			</div>
        </div>
		<div class="column-full">	
			<a class="button" href="homepage" role="button">Back to start</a>
		</div>
	</div>
</main>
{% endblock %}
