{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}

<main id="content" role="main">


    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="done-panel">
                <h1 class="heading-xlarge"><span id="done-tick"></span>Done</h1>
                <h2 class="heading-large"><span class="heading-secondary" style="color:white">Reference number</span> K5G-V78</h2>
            </div>
            <a class="button" href="processdecision.html" role="button">Back to start</a>
            
            <h2 class="heading-medium">What happens next</h2>
            <p>We are sending out the PRC and it will arrive at the hospital soon. </p>

            <h3 class="heading-small">Before you go</h3>
            <p>Help us to improve the service by <a href="feedback">answering some questions</a> about it.</p>

        </div>
    </div>

</main>

{% endblock %}
