{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="applyingfor.html" class="link-back">Back</a>
            <h2 class="heading-large">Does the patient have access to their EHIC?</h2>

            <form action="ehic-handler" method="get" class="form">
                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="visually-hidden">Does the patient have access to their EHIC?</legend>
                        <div class="multiple-choice">
                            <input id="yes" type="radio" name="ehic" value="yes">
                            <label for="yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="no" type="radio" name="ehic" value="no">
                            <label for="no">No</label>
                        </div>
                        <!-- the selecting circle in the middle is not properly aligned -->

                    </fieldset>
                </div>


                <div>
                    <input class="button" type="submit" value="Next">
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
