{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}
<main id="content" role="main">

    <div class="grid-row">


        <h2 class="heading-large">Hospital Details</h2>
        <div class="form-group">
            <label class="form-label" for="time-span">Name of Hospital</label>
            <input class="form-control" id="start-date" name="start-date" type="Start Date">
        </div>
        <form>


            <fieldset>

                <label class="form-label" for="time-span">Contact details</label>


                <div class="multiple-choice" data-target="contact-by-email">
                    <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                    <label for="example-contact-by-email">Email</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                    <label class="form-label" for="contact-email">Email address</label>
                    <input class="form-control" name="contact-email" type="text" id="contact-email">
                </div>

                <div class="multiple-choice" data-target="contact-by-phone">
                    <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                    <label for="example-contact-by-phone">Fax</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                    <label class="form-label" for="contact-phone">Fax</label>
                    <input class="form-control" name="contact-phone" type="text" id="contact-phone">
                </div>

            </fieldset>
        </form>


        <a class="button" href="prcpreview.html" role="button">Next</a>
    </div>

</main>
{% endblock %}
