{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}
<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Person Summary</h2>
            
            <table>
                
                
                <tbody>
                    <tr>
                        <th scope="row">Forename</th>
                        <td class="numeric">Jon</td> 
                        <td class="numeric"> <a href="personsummaryehic.html">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Lastname</th>
                        <td class="numeric">Smith</td>
                        <td class="numeric"> <a href="personsummaryehic.html">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td class="numeric">15/08/1986</td>
                        <td class="numeric"> <a href="personsummaryehic.html">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row">NINO</th>
                        <td class="numeric">SR 12 34 56 A</td>
                        <td class="numeric"> <a href="personsummaryehic.html">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td class="numeric">5 Church Street<br>Newcastle<br>
                        NE12 3AB</td>
                        <td class="numeric"> <a href="personsummaryehic.html">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row">S1 available</th>
                        <td class="numeric"> 17/11/2001</td>
                        <td class="numeric"> <a href="personsummaryehic.html">Change</a></td>
                    <tr>
                        <th scope="row">S1 Registered</th>
                        <td class="numeric"> 17/11/2001</td>
                        <td class="numeric"> <a href="personsummaryehic.html">Change</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            

            <a class="button" href="s1accidentcountry.html" role="button">Next </a>
            <p>
                <a href="personsummary.html">Add dependant</a>
            </p>
        </div>
        <br>

    </div>
</main>
{% endblock %}
