{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}
<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">What is your address?</h2>
            
            <div class="form-group">
                <label class="form-label" for="select-box">Select your address</label>
                <select class="form-control" id="select-box">
                    <option>1 Church Street, Newcastle, NE12 3AB</option>
                    <option>2 Church Street, Newcastle, NE12 3AB</option>
                    <option>4 Church Street, Newcastle, NE12 3AB</option>
                    <option>5 Church Street, Newcastle, NE12 3AB</option>
                </select>
            </div>

            <a class="button" href="personsummaryehic.html" role="button">Submit</a>
        </div>
    </div>
</main>
{% endblock %}
