{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}
<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="personsearch.html" class="link-back">Back</a>
            <h2 class="heading-large">Register a Person</h2>

            <div class="form-group">
                <label class="form-label" for="firstname">First name</label>
                <input class="form-control" id="firstname" name="firstname" type="firstname">
            </div>
            <div class="form-group">
                <label class="form-label" for="lastname">Last name</label>
                <input class="form-control" id="lastname" name="lastname" type="lastname">
            </div>
            <div class="form-group">
                <fieldset>
<!-- date of birth --> 
                    <p style="margin-bottom: 0px; padding-bottom: 0px">Date of birth</p>

                    <div class="form-date">
                        <div class="form-group form-group-day">
                            <label class="form-label form-hint" for="dob-day">Day</label>
                            <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                        </div>
                        <div class="form-group form-group-month">
                            <label class="form-label form-hint" for="dob-month">Month</label>
                            <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0" max="12">
                        </div>

                        <div class="form-group form-group-year">
                            <label class="form-label form-hint" for="dob-year">Year</label>
                            <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0" max="2016">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <label class="form-label" for="nino">National insurance number</label>
                <input class="form-control" id="nino" name="nino" type="nino">
            </div>
            <div class="form-group">
                <label class="form-label" for="housenum">House Number</label>
                <input class="form-control" id="housenum" name="housenum" type="housenum">
            </div>
            <div class="form-group">
                <label class="form-label" for="postcode">Postcode</label>
                <input class="form-control" id="postcode" name="postcode" type="postcode">
            </div>
            <a class="button" href="postcodeselect.html" role="button">Find address</a>

            <p>
                <a href="personsummary.html">Add dependant</a>
            </p>
        </div>
        <br>

    </div>
</main>
{% endblock %}
