{% extends "layout_bsa_internal.html" %} {% block page_title %} Single User View {% endblock %} {% block after_header %} {% endblock %} {% block content %}
<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="ehicwith.html" class="link-back">Back</a>
            <h2 class="heading-large">You do not require a PRC</h2>
            
            <p>
                You do not need a PRC as you can use your S1.
            </p>

            <div></div>
            <a class="button" href="processdecision.html" role="button">Back to start</a>

        </div>
    </div>
</main>
{% endblock %}
