{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half" id="logout">
          <a href="#">Sign out</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

<style>
.highlight{
min-height:430px;
}
.makeScrollable{
height:390px;
}
.closed-cases{
color: red;
}
.link-back{
    margin-left: 20px;    
}
.inline-btn ul li {
	float: left;
	margin-right: 10px;
}
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">You don't have permission to view this page</h1>
			<p class="text">You can't view this page. If you think you should be able to, contact the Service Desk on 0870 010 3241 to request permission.
			</p>
		</div>
	</div>
</main>

{% endblock %}
