{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half" id="logout">
          <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

<style>
.highlight{
min-height:430px;
}
.makeScrollable{
height:390px;
}
.closed-cases{
color: red;
}
.link-back{
    margin-left: 20px;    
}
.inline-btn ul li {
	float: left;
	margin-right: 10px;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
		<br>
        <div class="column-full">
          
		<h1 class="heading-large">
			Internal server error<span class="heading-secondary"></span>
		</h1>
		
		<p>There was an error</p>
		<p>Please try again later or contact your manager <a href="#">homepage</a> or the Service Desk on 0870 010 3241.</p>
		<br>
		</div>
    </div>
</div>
</main>

{% endblock %}
