{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
<div id="menu">
<div id="menu-content">
  <div class="grid-row">
	<div class="column-half">
	  <ul class="visually-hidden">
		<li><a class="menu-button selected" href="results">Search</a></li>
	  </ul>
	</div>
	<div class="column-half" id="logout">
	  <a href="login">Sign out</a>
	</div>
  </div>
</div>
</div> 
{% endblock %}   
{% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: -10px;    
}
.form-control {
    width: 90%;}
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full full">
			<div class="column-one-half">
				<a href="definitoryquestions" class="link-back">Back</a>
			</div>
			<div class="column-half" id="test1234" style="float: right; text-align: right;">
				<a class="button" role="button" style="font-size: 16px; background-color: #005EB8;" href="addReason" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">End process</a>
			</div>
		</div>	
		<br>
		<div class="column-full">
			<div class="column-one-half lpads ">
				<div style="padding: 0 2em 0 0">
					<div class="grid-row highlight">
						<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Applicant's contact details</h1>					
							<div class="column-one-half lpads">	
								<h2 class="heading-small">Full name</h2>
								<p class="change-spacep">John Smithe</p>
								<br>
								<h2 class="heading-small">NINO</h2>
								<p class="change-spacep">SR123456A</p>
								<br>
								 <h2 class="heading-small">Address</h2>
								<p class="change-spacep">5 Church Street, Newcastle, NE12 34AB</p>
							</div>
							<div class="column-one-half">	
								<h2 class="heading-small">Date of birth</h2>
								<p class="change-spacep">20/11/1988</p>
								<br>
								<h2 class="heading-small">Email</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
							
								<h2 class="heading-small">Telephone number</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
							</div>					
							<!-- Dependent details-->
							<div class="column-full lpads" style="margin-bottom: -30px;">
								<br>
								<h2 class="heading-medium">Dependent details</h2>	
								<div class="column-one-half lpads">	
								<h2 class="heading-small">Full name</h2>
								<p class="change-spacep"> Helen Smithe</p>
								<br>									
								</div>
								<div class="column-one-half">
									<h2 class="heading-small">Date of birth</h2>
									<p class="change-spacep">13/06/2010</p>
									<br>
									<br>
								</div>							
							</div>							
							<br>
					</div>
				</div>
			</div>		
			<!--  PRC time span -->	
			<div class="column-one-half">
				<div style="padding: 0 2em 0 0em">
					<div class="grid-row highlight">
						<h2 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Treatment details</h2>	
						<div class="column-one-half">		
							<h2 class="heading-small">Starting date</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">
							<h2 class="heading-small">Ending date</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text" style="width:50%;">
							<br>					
							<h2 class="heading-small">Country of the treatment</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-half">
							<h2 class="heading-small">Treatment facility name</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">					
							<h2 class="heading-small">Email address</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">					
							<h2 class="heading-small">Fax number</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">					
						</div>
						<br>
					</div>
				</div>
			</div>	
			<div class="column-full" style="padding: 0 2em 0 0em">
				<br><a class="button" href="done" role="button" style=" font-size: 19px; margin-left: 20px;">Generate PRC</a>
			</div>		
		</div>	
	
</main>
			
{% endblock %}


