{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 20px;
}
.form-control {
    width: 90%;
}
.multiple-choice [type=radio] + label::before {
    margin-left: -38px;
    margin-top: -5px;
}
.multiple-choice [type=radio] + label::after {
    left: 17px;
    top: 19px;
}
.inline .multiple-choice label {
    line-height: 120%;
}
.test{
    padding-left: 30px;
}
.heading-medium{
	margin-top: 15px;
    margin-bottom: -5px;
}
.s1reg{
	margin-top: -30px;
}
.buttonSubmit{
	margin-top: -15px;
}
.acceptanceCriteria{
	margin-top: -25px;
}
</style>

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full full">
			<div class="column-one-half">
				<a href="definitoryquestions" class="link-back">Back</a>
			</div>
			<div class="column-half" id="test1234" style="float: right;
    text-align: right;">
				<a class="button" role="button" style="font-size: 16px; background-color: #005EB8;" href="addReason" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">End process</a>
			</div>
		<br>
		<br>	
		<div class="column-full">
		
			<div class="column-one-third">
				<div class="column-full highlight rpads">
					<h1 class="heading-medium">Questions </h1>				
					<form>
						<div class="form-group">
							<fieldset class="inline">
							  <legend class="visually-hidden">Applying for?</legend>
							<div class="column-one-third lpads">
								<br><h1 class="heading-small">Applying for? </h1>
							</div>
							<div class="column-one-third test">
								  <div class="multiple-choice">
									<input id="radio-inline-1" type="radio" name="radio-inline-group" value="myself">
									<label for="radio-inline-1">Myself</label>
								  </div>
							</div>
							<div class="column-one-third test">
								  <div class="multiple-choice">
									<input id="radio-inline-2" type="radio" name="radio-inline-group" value="third">
									<label for="radio-inline-2">Third party</label>
								  </div>
							</div>
							</fieldset>
						</div>
					</form>
					<!-- Second question-->
					<form id="myForm" action="registration2" method="get" class="form">
						<div class="form-group">
							<fieldset class="inline s1reg">
							<legend class="visually-hidden">S1 registred?</legend>
							<div class="column-one-third lpads">
								<br><h1 class="heading-small">S1 registred? </h1>
							</div>
							<div class="column-one-third test">
								  <div class="multiple-choice">
									<input id="radio-inline-5" type="radio" name="registred2" value="Yes">
									<label for="radio-inline-5">Yes</label>
								  </div>
							</div>
							<div class="column-one-third test">
								  <div class="multiple-choice">
									<input id="radio-inline-6" type="radio" name="registred2" value="No">
									<label for="radio-inline-6">No</label>
								  </div>
							</div>
							</fieldset>
						</div>
						<div id="ac" class="form-group acceptanceCriteria visually-hidden">
							<label class="form-label" for="select-box2" style="width: 66%;">
								<h1 class="heading-small">Acceptance criteria</h1>
							</label>
							<select class="form-control" id="select-box2" style="font-size: medium;">
								<option>Select one that apply</option>
								<option>S1 not recognised by the treatment facility</option>
								<option>I don't have the S1 available</option>
								<option>My S1 is not registred yet</option>
								<option>Country of the accident different from S1</option>
								<option>Reason 5</option>
							</select>
						</div>
						<input class="button buttonSubmit" type="submit" value="Submit" style=" font-size: 16px;" />
					</form>
					
				</div>
			</div>
		</div>
	</div>
</main>
			
{% endblock %}


