{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 20px;     
}
.form-control {
    width: 90%;
}
.questions{
	padding: 0px 0 0 0;
}
.multiple-choice{
    padding-top: 5px;
    padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
	
}
.column-one-third{
padding: 0 0 0 0;
}
.multiple-choice [type=radio] + label::after {
    left: 17px;
    top: 15px;
    border: 7px solid;
}
</style>

<main id="content" role="main">

    <div class="grid-row">

        <a href="homepage" class="link-back">Back</a>
		<br>
		<br>
		<div class="column-full">
			<div class="column-one-half lpads ">
				<div style="padding: 0 2em 0 1em">
					<div class="grid-row highlight">
						<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Definitory questions</h1>
						
						<div class="column-full questions">	
						<!-- Who you applying for? -->

							<div class="form-group group1">
							  <fieldset class="inline">
								<div class="column-one-third">
									<legend>
									  <h1 class="heading-small">
										Applying for?
									  </h1>
									</legend>
								</div>
								<div class="column-one-third">
									<div class="multiple-choice">
									  <input id="radio-inline-1" type="radio" name="myself" value="myself">
									  <label for="radio-inline-1">Myself</label>
									</div>
								</div>
								<div class="column-one-third">
									<div class="multiple-choice">
									  <input id="radio-inline-2" type="radio" name="myself" value="thirdparty">
									  <label for="radio-inline-2">Third party</label>
									</div>
								</div>	
							  </fieldset>
							</div>
						
						<!-- reside in UK should be used when removing S1 case
							<div class="form-group group2">
							  <fieldset class="inline">
								<div class="column-one-third">
									<legend>
									  <h1 class="heading-small">
										UK resident?
									  </h1>
									</legend>
								</div>
								<div class="column-one-third">
									<div class="multiple-choice">
									  <input id="radio-inline-3" type="radio" name="radio-inline-group2" value="Yes" />
									  <label for="radio-inline-3">Yes</label>
									</div>
								</div>
								<div class="column-one-third">
									<div class="multiple-choice">
									  <input id="radio-inline-4" type="radio" name="radio-inline-group2" value="No">
									  <label for="radio-inline-4">No</label>
									</div>
								</div>	
							  </fieldset>
							</div> 
						-->
							<!-- Do you have a S1? -->
						<form action="registration" method="get" class="form">	
							<div class="form-group">
							  <fieldset class="inline">
								<div class="column-one-third">
									<legend>
									  <h1 class="heading-small">
										S1 registred?
									  </h1>
									</legend>
								</div>
								<div class="column-one-third">
									<div class="multiple-choice">
									  <input id="radio-inline-group5" type="radio" name="registred" value="Yes">
									  <label for="radio-inline-5">Yes</label>
									</div>
								</div>
								<div class="column-one-third">
									<div class="multiple-choice">
									  <input id="radio-inline-6" type="radio" name="registred" value="No">
									  <label for="radio-inline-6">No</label>
									</div>
								</div>	
							  </fieldset>
							</div>
						</div>
						<br>
						<!--<a class="button" href="#" role="button" style=" font-size: 19px;">Submit</a>-->
						<input class="button" type="submit" value="Next" style=" font-size: 19px;" />
						</form>
					</div>			
	</div>		
</main>
			
{% endblock %}


