{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
	margin-left: 0px;
}
.link-back{
    margin-left: 8px;     
}
.form-control {
    width: 90%;
}
.questions{
	padding: 0px 0 0 0;
}
.multiple-choice {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.column-one-third{
	padding: 0 0 0 0;
}
.multiple-choice [type=radio] + label::after {
    left: 17px;
    top: 20px;
}
.multiple-choice [type=radio] + label::before {
{
    margin-left: -40px;
    margin-top: -4px;
}
.multiple-choice label {
    float: left;
    margin-left: 50px;
    padding-right: 5px;
    padding-top: 0px;
	padding-bottom: 35px;
}
#select-box2 {
    background: white;
    color: black;
    border: none;
    height: 30px;
    width: 66%;
    margin-bottom: 3px;
    font-size: medium;
    border: 2px solid grey;
}
.multiple-choice {
    padding-bottom: 10px
	padding-top:10px;
}
.radio-inline-6 {
    padding-bottom: 15px;
}
.form-control {
    width: 90%;
}
#test1234{
	float: right;
    text-align: right;
}
</style>

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full full">
			<div class="column-one-half">
				<a href="definitoryquestions" class="link-back">Back</a>
			</div>
			<div class="column-half" id="test1234" style="float: right;
    text-align: right;">
				<a class="button" role="button" style="font-size: 16px; background-color: #005EB8;" href="addReason" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">End process</a>
			</div>
		</div>	
		<br>
		<br>
		<div class="column-full">
			<div class="column-one-half lpads ">
				<div style="padding: 0 2em 0 1em">
					<div class="grid-row highlight">
						<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Definitive questions</h1>
						
						<div class="column-full questions">	
						<!-- Who you applying for? -->

							<div class="form-group group1">
							  <fieldset class="inline">
								<div class="column-one-third">
									<legend>
									  <h1 class="heading-small">
										Applying for?
									  </h1>
									</legend>
								</div>
								<div class="column-one-third lpads">
									<div class="multiple-choice">
									  <input id="radio-inline-1" type="radio" name="myself" value="myself">
									  <label for="radio-inline-1">Myself</label>
									</div>
								</div>
								<div class="column-one-third">
									<div class="multiple-choice">
									  <input id="radio-inline-2" type="radio" name="myself" value="thirdparty">
									  <label for="radio-inline-2">Third party</label>
									</div>
								</div>	
							  </fieldset>
							</div>
							<!-- Do you have a S1? -->
							<form id="myForm" action="registration" method="get" class="form">	
								<div class="form-group">
								  <fieldset class="inline">
									<div class="column-one-third">
										<legend>
										  <h1 class="heading-small">
											S1 registred?
										  </h1>
										</legend>
									</div>
									<div class="column-one-third">
										<div class="multiple-choice">
										  <input id="radio-inline-group5" type="radio" name="registred" value="Yes">
										  <label for="radio-inline-5">Yes</label>
										</div>
									</div>
									<div class="column-one-third">
										<div class="multiple-choice">
										  <input id="radio-inline-6" type="radio" name="registred" value="No">
										  <label for="radio-inline-6">No</label>
										</div>
									</div>	
								  </fieldset>
								</div>			
								<div class="form-group visually-hidden">
									<label class="form-label" for="select-box2" style="width: 66%;"><h1 class="heading-small">
											Acceptance criteria
										  </h1>
									</label>
								  <select class="form-control" id="select-box2" style="font-size: medium;">
									<option>S1 not recognised by the treatment facility</option>
									<option>Country of the accident different from S1</option>
									<option>Reason 3</option>
								  </select>
								</div>	
							<br>
							<input class="button" type="submit" value="Next" style=" font-size: 19px;" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
			
{% endblock %}


