{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 10px;     
}
.form-control {
    width: 90%;
}
#select-box {
   background: white;
   color: black;
   border: none;
   height: 30px; 
   width: 66%;
   margin-bottom: 3px; 
   font-size: medium;
   border: 2px solid grey;
}
.column-full{
	padding-left: 0px;
	font-size: 16px;
	padding-left: 0px;
}
.building2{
	padding-left:0px;
}
.first-box-btn{
	padding-left:0px;
}
.newbox{
	padding-left:0px;
}
.button-submit2{
    margin-left: 20px;     
}
.form-group{	
	margin-bottom: 15px;
}
#test1234{
	float: right;
    text-align: right;
}
.multiple-choice{
	transform: scale(0.70);
    background-color: transparent;
    border: transparent;
}
.first-multiple-choice{
	margin-left: -36px;
    margin-top: -15px;
}
.hello:first-child {
    margin-top: 10px;
    margin-left: -24px;
	margin-bottom: -20px;
}
.multiple-choice label{
	float: left;
	margin-left: 48px;
	padding-right: 5px;
	padding-top: 0px;
}
.checkbox4.multiple-choice:first-child {
    margin-top: 10px;
    margin-left: -40px;
}
.button-submit2 {
    margin-left: 20px;
    margin-top: -20px;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
		<div class="column-full full">
			<div class="column-one-half">
				<a href="definitoryquestions" class="link-back">Back</a>
			</div>
			<div class="column-half" id="test1234">
				<a class="button" role="button" style="font-size: 16px; background-color: #005EB8;" href="addReason" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">End process</a>
			</div>
		</div>	
		<br>
		<br>
		<div class="column-full">
			<div class="column-one-half lpads" style="padding: 0 2em 0 1em">
				<div class="grid-row highlight">
					<div class="column-full">	
						<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Register an applicant</h1>
						
						<div class="column-one-third lpads">	
							<h2 class="heading-small">First name</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>		
						<div class="column-one-third lpads">	
							<h2 class="heading-small">Last name</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">	
						</div>
						<div class="column-one-third lpads">	
							<h2 class="heading-small">Date of birth</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
							<br><h2 class="heading-small">NINO</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
							<br><h2 class="heading-small">EHIC number</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
							<br><h2 class="heading-small">EHIC expiry date</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
					</div>
					<div class="column-full">
								<h1 class="heading-small" style="margin-bottom: -20px;">UK address<h1>
					</div>
					<div class="column-full house-postcode">
						<div class="column-one-third lpads">	
							<br>
							<h2 class="heading-small house-number">House number</h2>
							<input class="form-control house-number" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
							<br>
							<h2 class="heading-small postcode"> Postcode</h2>
							<input class="form-control postcode" id="reference-number" name="first-name-2" type="text">		
						</div>
						<div class="column-one-third lpads">	
							<br>
							<br><a class="button buttonFind" href="#" role="button" style="font-size: 16px; background-color: #005EB8;">Find address</a> 
																
						</div>
					</div>
					<div class="column-full address visually-hidden">
						<br><label class="form-label" for="select-box" style="width: 66%;">Select the address</label>
						<select class="form-control" id="select-box">
							<option>1 Church Street, Newcastle, NE12 3AB</option>
							<option>2 Church Street, Newcastle, NE12 3AB</option>
							<option>4 Church Street, Newcastle, NE12 3AB</option>
							<option>5 Church Street, Newcastle, NE12 3AB</option>
						</select>
						<br>
						<a class="button-manually" href="#">Enter address manually</a>
					</div>
					<div class="column-full manual-address visually-hidden">
						
						<div class="column-one-third lpads">
							<br><h2 class="heading-small">Building and street</h2>
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>	
						<div class="column-one-third lpads">
							<br>
							<h2 class="heading-small EHIC-number">Town or city<h2>
							<input class="form-control EHIC-number" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">
							<br>
							<h2 class="heading-small postcode2"> Postcode</h2>
							<input class="form-control postcode2" id="reference-number" name="first-name-2" type="text">
						</div>
					</div>
					<div class="column-full">
						<div class="multiple-choice hello">
							  <input id="bypassresidency" name="bypassresidency" type="checkbox" value="true">
							  <label for="bypass-checkbox">UK resident?</label>
						</div>
					</div>
					<div class="column-full first-box-btn">
						<div class="column-one-half newbox">
							<br>
							<a class="button-dependent" href="#">+ Add dependant</a>
							<br>
							<br>
							<a class="button btnSubmit1" href="contactdetails" role="button" style=" font-size: 16px; margin-top: -10px;">Submit</a>
						</div>
					</div>						
				</div>
			</div>			
			<!--  Dependant details -->
			<div class="column-one-half dependent visually-hidden">
				<div style="padding: 0 2em 0 2em">
					<div class="grid-row highlight">
						<h2 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Dependant details</h2>	
						<!-- Dependant link-->					
						<div class="column-one-third lpads">	
								<h2 class="heading-small">First name</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>		
						<div class="column-one-third lpads">	
								<h2 class="heading-small">Last name</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">	
						</div>
						<div class="column-one-third lpads">	
								<h2 class="heading-small">Date of birth</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
								<br><h2 class="heading-small">NINO</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
								<br><h2 class="heading-small">EHIC number</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
								<br><h2 class="heading-small">EHIC expiry date</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>					
					</div>
				</div>
			</div>	
			<div class="column-full button-submit2 visually-hidden">			
				<br><br><a class="button" href="contactdetails" role="button" style=" font-size: 16px;">Submit</a>
			</div>	
		</div>
	</div>		
</main>
			
{% endblock %}


