{% extends "layout_bsa_internal.html" %} 

{% block page_title %} Single User View 
{% endblock %} 

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="login">Sign out</a>
        </div>
      </div>
    </div>
  </div> 
  {% endblock %} 
  
  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 20px;     
}
.form-control {
    width: 90%;
}
#select-box {
   background: white;
   color: black;
   border: none;
   height: 30px; 
   width: 66%;
   margin-bottom: 3px; 
   font-size: medium;
   border: 2px solid grey;
}
.column-full{
	padding-left: 0px;
	font-size: 16px;
	padding-left: 0px;
}
.building2{
	padding-left:0px;
}
.first-box-btn{
	padding-left:0px;
}
.newbox{
	padding-left:0px;
}
.button-submit2{
    margin-left: 20px;     
}
.form-group{	
	margin-bottom: 15px;
}
.dob1234{
	width:50px;
}
#test1234{
	float: right;
    text-align: right;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
		<div class="column-full full">
			<div class="column-one-half">
				<a href="definitoryquestions" class="link-back">Back</a>
			</div>
			<div class="column-half" id="test1234">
				<a class="button" role="button" style="font-size: 16px; background-color: #005EB8;" href="addReason" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">End process</a>
			</div>
		</div>
		<br>
		<br>
		<div class="column-full">
			<div class="column-one-half lpads ">
				<div style="padding: 0 2em 0 1em">
					<div class="grid-row highlight">
						<div class="column-full">	
							<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Register an applicant</h1>
							
							<div class="column-one-third lpads">	
								<h2 class="heading-small">First name</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
							</div>		
							<div class="column-one-third lpads">	
								<h2 class="heading-small">Last name</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">	
							</div>
							<div class="column-one-third lpads">	
								<h2 class="heading-small">Date of birth</h2>
								<input class="form-control dob1234" id="reference-number" name="first-name-2" type="text">
							</div>
							<div class="column-one-third lpads">	
								<br><h2 class="heading-small">NINO</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
							</div>
							<div class="column-one-third lpads">	
								<br><h2 class="heading-small">S1 country</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
							</div>
							<div class="column-one-third lpads">	
								<br><h2 class="heading-small">S1 registration date</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
							</div>
						</div>

						<div class="column-full first-box-btn">
							<div class="column-one-half newbox">
								<br>
								<a class="button-dependent" href="#">+ Add dependent</a>
								<br>
								<br>
								<a class="button btnSubmit1" href="contactdetails" role="button" style=" font-size: 19px;">Save and submit</a>
							</div>
						</div>						
					</div>
				</div>
			</div>
					
		<!--  Dependent details -->
		<div class="column-one-half dependent visually-hidden">
			<div style="padding: 0 2em 0 2em">
				<div class="grid-row highlight">
				
					<h2 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">Dependent details</h2>	
					<!-- Dependent link-->
						
							<div class="form-group">
							  <label class="form-label" for="select-box" style="width: 66%;">Dependent link with the main applicant</label>
							  <select class="form-control" id="select-box">
								<option>Father - Child</option>
								<option>Mother - Child</option>
								<option>Foster parent - Child</option>
								<option>Grandmother - Child</option>
								<option>Grandfather - Child</option>
								<option>Guardian - Child</option>
								<option>Husband - Wife?</option>
								<option>Aunt - Child?</option>
								<option>Uncle - Child?</option>
								<option>Brother - Sister</option>
							  </select>
							</div>					
					
						<div class="column-one-third lpads">	
								<h2 class="heading-small">First name</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>		
						<div class="column-one-third lpads">	
								<h2 class="heading-small">Last name</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">	
						</div>
						<div class="column-one-third lpads">	
								<h2 class="heading-small">Date of birth</h2>
								<input class="form-control dob1234" id="reference-number" name="first-name-2" type="text">
						</div>
						<div class="column-one-third lpads">	
								<br><h2 class="heading-small">NINO</h2>
								<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
						
				</div>
			</div>
	
		</div>	
		<div class="column-full lpads button-submit2 visually-hidden">	
				<br><a class="button" href="contactdetails" role="button" style=" font-size: 19px;">Save and submit</a>
		</div>	
	</div>		
</main>
			
{% endblock %}


