{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<style>
.highlight{
min-height:430px;
}
.makeScrollable{
height:390px;
}
.closed-cases{
color: red;
}
.link-back{
    margin-left: 20px;    
}
.inline-btn ul li {
	float: left;
	margin-right: 10px;
}
.first{
	margin-top: 1em;
}
.second{
	padding-top: 20px;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
	<a href="results" class="link-back">Back</a>
	<br>
	<div class="column-two-thirds">
		
		<div class="column-full rpads">
			<div class="container rpads">
				<ul class="tabs rpads">
					<a href="search-form"><li class="tab-link current" data-tab="tab-3">Applicant Search</li></a>
					<a href="search-form-renew"><li class="tab-link" data-tab="tab-4">PRC renew</li></a>
					
				</ul> 
				<h2 class="heading-medium first">Applicant Search</h2>
				<div class="grid-row">
				   <div class="column-one-third">
					   <span class="form-label">Reference number</span>
					  <div class="form-group">
						 <input class="form-control" id="reference-number" name="first-name-2" type="text">
					  </div>
					</div>
					<div class="column-one-third">
					   <span class="form-label">First name</span>
					   <div class="form-group">
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
					</div>
					<div class="column-one-third">
						<span class="form-label">Last name</span>
						<div class="form-group">
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
					</div>
					<div class="column-one-third">
						<span class="form-label">Date of birth</span>
						<div class="form-group">
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
					</div>
					<div class="column-one-third">
						<span class="form-label">NINO</span>
						<div class="form-group">
							<input class="form-control" id="reference-number" name="first-name-2" type="text">
						</div>
					</div>
				</div>
				<div class="grid-row">
					<div class="column-one-third">
						<div class="form-group">
						<a class="button" id="search-button" href="results" role="button">Search</a>
						</div>
					</div>
				</div>
			</div>   
		
		</div>
		</div>
	
<div class="column-one-third">
<aside class="govuk-related-items" role="complementary">
	<h2 class="heading-medium second">Before you start</h2>
		<div class="row sidebar collapse">
			<div class="columns small-12">
				<ul>
				<span><li>Search and select the right case</li></span>
				<li>Check the correct information is displayed</li>
				<li>Check the status of the case</li>
				</ul><br>
			</div>
		</div>
</aside>
</div>        
 
</main>

{% endblock %}
