{% extends "layout_bsa_internal.html" %} 
{% block page_title %} Single User View 
{% endblock %} 
{% block after_header %} 
 <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
      
      </div>
    </div>
  </div> 
{% endblock %}
 {% block content %}
<style>
input.form-control{
    width:33.3%;
}
.link-back{
    position: absolute;    
}
</style>

<main id="content" role="main">

    
<div class="grid-row">

        <div class="heading-group">
          <h1 class="heading-large">Sign in</h1>
        </div>
        <p>Use your NHSBSA details to sign in. </p>


        <div class="form-group">
          <label class="form-label-bold" for="first-name-2">Username</label> 
          <input class="form-control" id="first-name-2" name="first-name-2" type="text" autocomplete="off" />
        </div>
        <div class="form-group">
          <label class="form-label-bold" for="last-name-2">Password</label>
          <input class="form-control" id="last-name-2" name="last-name-2" type="text" autocomplete="off" />
        </div>

        <details>
          <summary>
            <span class="summary">Forgotten your password?</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>If you've forgotten your password, you should contact the Service Desk on 0870 010 3241.</p>
          </div>
        </details>
        <br>
         <div class="grid-row">
			<div class="column-one-third">
				<div class="form-group">
				<a class="button" href="homepage.html" role="button">Sign in</a>
				</div>
			</div>
    </div>
    </div>
</main>

{% endblock %}
