{% extends "layout_bsa_internal.html" %}

{% block page_title %} Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
		  <a href="login">Sign out</a>
		  <span style="float: right; margin: 7px 0;">nhsbsa |</span>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 20px;
}
.form-control {
    width: 90%;
}
.multiple-choice [type=radio] + label::before {
    margin-left: -38px;
    margin-top: -5px;
}
.multiple-choice [type=radio] + label::after {
    left: 17px;
    top: 19px;
}
.inline .multiple-choice label {
    line-height: 120%;
}
.test{
    padding-left: 30px;
}
.heading-medium{
	margin-top: 15px;
    margin-bottom: -5px;
}
.s1reg{
	margin-top: -30px;
}
.buttonSubmit{
	margin-top: -15px;
}
.acceptanceCriteria{
	margin-top: -25px;
}
[hidden], .display-none {
	display: none;
}
.hello1{
	margin-top: 20px;
}
.column-full {
    padding: 0 0px;
}
.link-back {
    margin-left: 0px;
}
#uk-resident {
    margin: -30px 0 10px 49px;
}
.align-radio {
    margin-left: 0px;
	padding-right: 0px;
}
.inline .multiple-choice label {
    line-height: 120%;
    font-size: 16px;
}
.unbranded * {
    margin-bottom: 0px;
}
#reference-number,
#reference-number-1,
#reference-number-2,
#reference-number-3,
#reference-number-4,
#reference-number-5,
#reference-number-6,
#reference-number-7,
#country-of-treatment {
    font-size: 16px;
}
.newbox {
	margin-bottom: 15px;
}
.button.buttonSubmit2 {
	margin-left: 15px;
}
.error-summary {
	margin-bottom: 30px;
}
#done-tick{
	background-color: transparent;
	background-image: url(/public/images/bsa/tick-sign.png);
	margin-bottom: -10px;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full full" style="background-color: white;">
			<div class="column-one-half">
				<a href="javascript:history.go(-1)" class="link-back">Back</a>
			</div>
			<div class="column-half" id="test1234" style="float: right; text-align: right;">
				<a class="button" role="button" style="font-size: 16px; background-color: #005EB8;" href="addReason" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">End process</a>
			</div>
		</div>
		<br><br>
		<div class="column-full">
			<form action="contactdetails" id="register1-form" class="form form-to-validate" method="get" novalidate="novalidate" autocomplete="off">
				<div class="column-one-half lpads" style="padding: 0 2em 0 1em">
					<div class="grid-row highlight">
						<div class="column-full">
							<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">
								UK residency check result
								<span id="done-tick" style="position: absolute; float: right; margin-top: -5px; margin-left: 230px;"></span>
								<span style="color: #00823b; position: relative; float: right; margin-top: -2px; font-weight: normal;">Pass</span>
							</h1>
							<div class="column-full">
								<!-- <h1 class="heading-small" style="margin-top: 0.83333em;">Applicant's details</h1> -->
								<table class="check-your-answers">
									<thead>
										<th colspan="3" style="border-bottom: 0;">Applicant's details</th>
									</thead>
									<tbody>
										<tr>
											<td>Full name</td>
											<td style="font-weight: normal;">John Smithe</td>
											<td class="change-answer">
												<a href="registerperson#reference-number-1">Change <span class="visuallyhidden">full name</span></a>
											</td>
										</tr>
										<tr>
											<td>Date of birth</td>
											<td style="font-weight: normal;">11/11/1987</td>
											<td class="change-answer">
												<a href="registerperson#reference-number-3">Change <span class="visuallyhidden">date of birth</span></a>
											</td>
										</tr>
										<tr>
											<td>Address</td>
											<td style="font-weight: normal;">
												<span class="newLineAddress">5 Church Street,</span><br>
												<span class="newLineAddress">Newcastle,</span><br>
												<span class="newLineAddress">NE12 34AB</span><br>
											</td>
											<td class="change-answer">
												<a href="registerperson#reference-number-7">Change <span class="visuallyhidden">address</span></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="column-full" style="margin: 30px 0 15px 0;">
								<details>
									<summary>
										<span class="summary" style="font-size: 16px">More details</span>
									</summary>
									<table class="check-your-answers">
										<tbody>
											<tr>
												<td>Evidence of UK residency</td>
												<td style="color: #F47738;">Some</td>
											</tr>
											<tr>
												<td>Evidence of non-UK residency</td>
												<td style="color: #00823B">None</td>
											</tr>
										</tbody>
									</table>
								</details>
							</div>
							<input class="button buttonSubmit" type="submit" value="Submit" style="font-size: 16px; margin-top:15px;" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}
