{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}



{% block after_header %}


{% endblock %}

{% block content %}
<style>
.multiple-choice{
     width: 40em;
    height: 0.5em;
	padding-top: 5px;
	padding-bottom: 2px;
}
.titleCreate{
margin-bottom:0px;
margin-top:4px;
}
.multiple-choice [type=radio] + label::after {
    left: 17px;
    top: 17px;
    border: 7px solid;
}
.multiple-choice [type=radio] + label::before {
    margin-top: -5px;
}
.titleCreate{
    margin-top: 10px;
}
</style>
<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full highlight1">

            <h1 class="heading-medium titleCreate">Email (another) copy</h1> 
			<form action="tabs-below" method="get" class="form">
			   <div class="form-group">
					<div class="column-one-third lpads">	
									<br>
									<h2 class="heading-small">Main applicant email address</h2>
									<input class="form-control" id="reference-number" name="first-name-2" type="text" style="font-size: 16px; width: 50%;" autocomplete="off" />
									<br>
									<h2 class="heading-small">Treatment facility email address</h2>
									<input class="form-control" id="reference-number" name="first-name-2" type="text" style="font-size: 16px; width: 50%;" autocomplete="off" />
					</div>
				</div>	                      
				<a class="button" role="button" style=" font-size: 16px;" onclick=" window.opener.location.replace('/prc/definitoryquestions'); window.close();">Submit</a>
				<p class="navigation"><a class="cancel" href="JavaScript:window.close()">Cancel</a></p>
			</form>     
        </div>
    </div>
</main>

{% endblock %}
