{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}



{% block after_header %}


{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full highlight1">

            <h1 class="heading-medium">Create note</h1>
            <p class="form-hint" id="dob-hint" style="margin-bottom: 0px">You can make a note about the caller details.</p>
            <form action="tabs-below" method="get" class="form">

        <div class="form-group">

          <textarea style="height: 150px; width: 530px;"></textarea>
        </div>
		<br>
		<p style="text-align: right;">0/1000</p>
        <br>
                
		<a class="button" href="personsearchlist" role="button" style=" font-size: 19px;">Next</a>

        <p class="navigation"><a class="cancel" href="JavaScript:window.close()">Cancel</a></p>
        
      </form>
            
            
            
            <br>
            <br>
            

        </div>
    </div>
</main>

{% endblock %}
