{% extends "layout_bsa_internal.html" %}

{% block page_title %} Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul class="visually-hidden">
            <li><a class="menu-button selected" href="results">Search</a></li>
          </ul>
        </div>
        <div class="column-half" id="logout">
		  <a href="login">Sign out</a>
		  <span style="float:right; margin: 8px 0.25em 0px 0.5em; font-size:14px;">|</span> <span style="float:right; margin: 9px 0.25em 0px 0.5em;  font-size:14px;">ed</span>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block content %}

<style>
.highlight {
    min-height: 40%;
}
.link-back{
    margin-left: 20px;
}
.form-control {
    width: 90%;
}
.multiple-choice [type=radio] + label::before {
    margin-left: -38px;
    margin-top: -5px;
}
.multiple-choice [type=radio] + label::after {
    left: 17px;
    top: 19px;
}
.inline .multiple-choice label {
    line-height: 120%;
}
.test{
    padding-left: 30px;
}
.heading-medium{
	margin-top: 15px;
    margin-bottom: -5px;
}
.s1reg{
	margin-top: -30px;
}
.buttonSubmit{
	margin-top: -15px;
}
.acceptanceCriteria{
	margin-top: -25px;
}
[hidden], .display-none {
	display: none;
}
.hello1{
	margin-top: 20px;
}
.column-full {
    padding: 0 0px;
}
.link-back {
    margin-left: 0px;
}
#uk-resident {
    margin: -30px 0 10px 49px;
}
.align-radio {
    margin-left: 0px;
	padding-right: 0px;
}
.inline .multiple-choice label {
    line-height: 120%;
    font-size: 16px;
}
.unbranded * {
    margin-bottom: 0px;
}
#reference-number,
#reference-number-1,
#reference-number-2,
#reference-number-3,
#reference-number-4,
#reference-number-5,
#reference-number-6,
#reference-number-7,
#country-of-treatment {
    font-size: 16px;
}
.newbox {
	margin-bottom: 15px;
}
.button.buttonSubmit2 {
	margin-left: 15px;
}
.error-summary {
	margin-bottom: 30px;
}
#done-tick{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(/public/images/bsa/tick-sign.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -5px;
    margin-bottom: -10px;
}

#residency-result {
    float: right;
}

#residency-result-text {
    color: #00823B;
    font-weight: normal;
}

table td {
	padding-bottom: 5px;
	border-bottom: 1px solid #bfc1c3;
}
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full full" style="background-color: white;">
			<div class="column-one-half">
				<a href="javascript:history.go(-1)" class="link-back">Back</a>
			</div>
			<div class="column-half" id="test1234" style="float: right; text-align: right;">
				<a class="button" role="button" style="font-size: 16px; background-color: #005EB8;" href="addReason" onClick="MyWindow=window.open('addReason','MyWindow','width=600,height=450'); return false;">End process</a>
			</div>
		</div>
		<br><br>
		<div class="column-full">
			<form action="contactdetails" id="register1-form" class="form form-to-validate" method="get" novalidate="novalidate" autocomplete="off">
				<div class="column-one-half lpads" style="padding: 0 2em 0 1em">
					<div class="grid-row highlight">
						<div class="column-full">
							<h1 class="heading-medium" style="margin-top: 0.83333em; margin-bottom: 0.83333em;">
								UK residency check result
								<div id="residency-result">
									<span id="done-tick"></span>
									<span id="residency-result-text">Pass</span>
								</div>
							</h1>
							<div class="column-full">
								<!-- <h1 class="heading-small" style="margin-top: 0.83333em;">Applicant's details</h1> -->
								<table class="check-your-answers" style="width: 95%">
									<thead>
										<th colspan="3" style="border-bottom: 0; font-size: 20px;">Personal details</th>
									</thead>
									<tbody>
										<!-- <tr>
											<td class="bold">OHS number</td>
											<td style="font-weight: normal;">12345678</td>
											<td>&nbsp;</td>
										</tr> -->
										<tr>
											<td class="bold">Full name</td>
											<td style="font-weight: normal;">John Smithe</td>
											<td class="change-answer numeric">
												<a href="registerperson#reference-number-1">Change <span class="visuallyhidden">full name</span></a>
											</td>
										</tr>
										<tr>
											<td class="bold">Date of birth</td>
											<td style="font-weight: normal;">11/11/1987</td>
											<td class="change-answer numeric">
												<a href="registerperson#reference-number-3">Change <span class="visuallyhidden">date of birth</span></a>
											</td>
										</tr>
										<tr>
											<td class="bold">Address</td>
											<td style="font-weight: normal;">
												<span class="newLineAddress">5 Church Street,</span><br>
												<span class="newLineAddress">Newcastle,</span><br>
												<span class="newLineAddress">NE12 34AB</span><br>
											</td>
											<td class="change-answer numeric">
												<a href="registerperson#reference-number-7">Change <span class="visuallyhidden">address</span></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="column-full" style="margin: 30px 0 15px 0;">
								<details>
									<summary>
										<span class="summary" style="font-size: 16px">More details</span>
									</summary>
									<div>
										<table class="check-your-answers" style="width: 95%">
											<tbody>
												<tr>
													<td style="width:80%;">Evidence that applicant lives in the UK</td>
													<td class="numeric" style="color: #00823B; width:20%;">Strong</td>
												</tr>
												<tr>
													<td style="width:60%;">Evidence that applicant lives outside the UK</td>
													<td class="numeric" style="color: #F47738; width:20%;">Some</td>
												</tr>
											</tbody>
										</table>
									</div>
								</details>
							</div>
							<input class="button buttonSubmit " type="submit" value="Next" style="font-size: 16px; margin-top:15px;" />
						</div>
					</div>
				</div>
				<!-- <div class="column-one-third" style="padding-left:50px;">
					<h2 class="heading-medium second">Next steps?</h2>
					<div class="row sidebar collapse">
						<div class="columns small-12">
							<ul>
								<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</li>
							</ul>
						</div>
					</div>
				</div> -->
			</form>
		</div>
	</div>
</main>

{% endblock %}