{% extends "layout_bsa.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">


  <h1 class="heading-xlarge">Provisional Replacement Certificate (PRC)</h1>
    
    <p>Internal design for the PRC</p>

  <h3 class="heading-large">Prototypes</h3>
    
   
          <ul class="list list-bullet">

    <li><a href="Andreea/login">Version 1 - April 2018</a></li>
    <li><a href="#">Version 2 - May 2018 - still work in progress</a></li>
  </ul>
    

</main>

{% endblock %}
