{% extends "layout_bsa.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Provisional Replacement Certificate (PRC)</h1>  
    <p>Internal design for the PRC</p> 
	<div class="column-one-third">
		<h3 class="heading-small">Latest Prototype</h3>
			<ul class="list list-bullet">
				<li><a href="prc-test/login">Call Centre Version 1.2 - May 2018</a></li>
			</ul>		
		<h3 class="heading-small">Prototypes - May, April</h3>
			<ul class="list list-bullet">
				<li><a href="prc/login">Call Centre Version 1.1 - May 2018</a></li>	
				<li><a href="supervisor/login">Assessor Version 1.1 - May 2018</a></li>
				<li><a href="Andreea/login">Call Centre Version 1.0 - April 2018</a></li>
				<li><a href="test/login">Draft - March 2018</a></li>		
			</ul>	
	</div>
	<div class="column-one-third">
		<h3 class="heading-small">Errors</h3>
			<ul class="list list-bullet">
				<li><a href="errors/403">403 - Permission to access the page</a></li>	
				<li><a href="errors/404">404 - Something’s gone wrong</a></li>	
				<li><a href="errors/500">500 - Something’s gone wrong</a></li>	
				<li><a href="errors/503">503 - Service unavailable</a></li>	
			</ul>
		<h3 class="heading-small">'Done' pages</h3>
			<ul class="list list-bullet">
				<li><a href="Andreea/done">Done email</a></li>	
				<li><a href="Andreea/donefax">Done fax</a></li>		
			</ul>
	</div>
	<div class="column-one-third">
		<h3 class="heading-small">Indesser - Dependency</h3>
			<ul class="list list-bullet">
				<li><a href="prc/registerperson16">16-18 case</a></li>
				<li><a href="prc-test/login">Not UK resident</li>
			</ul>
	</div>
    

</main>

{% endblock %}
