{% extends "layout_bsa.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">


  <h1 class="heading-xlarge">Provisional Replacement Certificate (PRC)</h1>
    
    <p>Internal design for the PRC</p>


    
	<div class="column-one-half">
		<h3 class="heading-small">Prototypes - May</h3>
		<ul class="list list-bullet">
		<li><a href="prc/login">Call Centre Version 1.1 - May 2018</a></li>	
		<li><a href="supervisor/login">Assessor Version 1.1 - May 2018</a></li>
		</ul>
		
		<h3 class="heading-small">Prototypes - April</h3>
		<ul class="list list-bullet">
		<li><a href="Andreea/login">Version 1 - April 2018</a></li>	
		</ul>
		
	</div>
	<div class="column-one-half">
		<h3 class="heading-small">Errors</h3>
		<ul class="list list-bullet">
		<li><a href="errors/smth-wrong">Something went wrong</a></li>	
		<li><a href="errors/page-not-found">Page not found</a></li>	
		<li><a href="errors/internal-server">Internal server</a></li>	
		</ul>
		<h3 class="heading-small">'Done' pages</h3>
		<ul class="list list-bullet">
		<li><a href="errors/done">Done email</a></li>	
		<li><a href="errors/donefax">Done fax</a></li>		
		</ul>
	</div>
    

</main>

{% endblock %}
