<!-- requires modded version -->
{% extends "govuk_template_unbranded.html" %}

{% block head %}
  <link rel="icon" type="image/png" sizes="96x96" href="/public/images/favicon2-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon2-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon2-16x16.png">

  <link href="/public/stylesheets/bsa.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/autocomplete.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_content %}
  {% include "bsa_head_internal.html" %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}